@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url(/CSS/index.css);

body {
  font-family: "Montserrat", sans-serif;
}

.navigation-container {
  display: flex;
  padding: 1rem;
  position: relative;
}

.nav-item {
  margin-left: auto;
}

.nav-list-item {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.9rem;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  font-weight: bold;
  margin-right: 6rem;
}

.nav-list-item:hover {
  color: var(--secondary-color);
}

.nav-header-item {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.4rem;
  margin-left: 6rem;
  display: flex;
  margin-top: 0.5rem;
}

.logo-version {
  font-size: small;
  font-weight: lighter;
}

.nav-header-item:hover {
  color: var(--secondary-color);
}

.heading-inverted {
  color: var(--color-black);
}

.heading-inverted:hover {
  color: var(--secondary-color);
}

.header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  position: relative;
  align-items: center;
}

.header-img {
  width: 19rem;
  max-height: 50vh;
}

.main-text {
  font-size: 1.8rem;
  max-width: 44rem;
}

.heading-inverted-again {
  color: var(--primary-color);

  font-weight: bold;
}

.cta-buttons {
  padding: 1rem;
  margin-top: 3rem;
}

.primary-link {
  padding: 1rem;
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.secondary-link {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  text-decoration: none;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 15px var(--box-shadow);
}

.primary-link:hover {
  background-color: var(--primary-hover);
}

.secondary-link:hover {
  background-color: var(--secondary-hover);
}


@media only screena and (max-width: 480px) {

  .nav-header-item {

    margin-left: 0;
  }
}