@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: #1d4ed8;
    --white: white;
    --secondary-color: #9ca3af;
    --black: black;
    --primary-hover: #1e40af;
    --secondary-hover: #e5e7eb;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.navigation-container {

    position: fixed;
    box-shadow: 0 7px 20px 2px var(--secondary-hover);
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--white);

}

.nav-item {

    margin-left: auto;

}

.nav-list-item {

    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    font-weight: bold;
    margin-right: 6rem;
}

.nav-list-item:hover {

    color: var(--secondary-color);
}


.nav-header-item {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.4rem;
    margin-left: 6rem;
    display: flex;
    margin-top: 0.5rem;
    
}

.logo-version {

    font-size: small;
    font-weight: lighter;
}

.nav-header-item:hover {

    color: var(--secondary-color);
}

.heading-inverted {

    color: var(--black);
}

.heading-inverted:hover {

    color: var(--secondary-color);
}
