@import url(/CSS/index.css);
@import url(/CSS/aside.css);
@import url(/text-utilities/text-utils.css);
@import url(/toast/toast.css);

.grid-two-container,
.grid-three-container {
  display: grid;
  text-align: center;
  margin-top: 1rem;
  gap: 1rem;
}

.grid-two-container {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-container {
  grid-template-columns: repeat(3, 1fr);
}

.grid-two-container,
.grid-three-container > * {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--color-white);
  font-weight: bold;
}

@media only screen and (max-width: 970px) {
  .grid-two-container, .grid-three-container {
    grid-template-columns: 1fr;
  }
}