@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: #1d4ed8;
    --white: white;
    --secondary-color: #9ca3af;
    --black: black;
    --primary-hover: #1e40af;
    --secondary-hover: #e5e7eb;

}

body {
    font-family: 'Montserrat', sans-serif;
    /* border: 1px; */
}


.navigation-container {

    display: flex;
    padding: 1rem;
    position: relative;

}

.nav-item {

    margin-left: auto;

}

.nav-list-item {

    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    font-weight: bold;
    margin-right: 6rem;
}

.nav-list-item:hover {

    color: var(--secondary-color);
}


.nav-header-item {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.4rem;
    margin-left: 6rem;
    display: flex;
    margin-top: 0.5rem;
    
}

.logo-version {

    font-size: small;
    font-weight: lighter;
}

.nav-header-item:hover {

    color: var(--secondary-color);
}

.heading-inverted {

    color: var(--black);
}

.heading-inverted:hover {

    color: var(--secondary-color);
}



/* STARTS FROM HERE */

.container {

    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    /* width: 500px; */
    max-width: 100rem;
    
}


.card-heading {

    text-align: left;
    margin-left: 15rem;
    margin-top: 2rem;
}

.description {

    text-align: left;
    margin-left: 15rem;
    margin-top: 1rem;
    max-width: 900px;

}

h3 {

    text-align: left;
    margin-left: 15rem;
    margin-top: 1rem;



}

/* .section-ow {

    width: 10rem;
    /* position: absolute;
    top: 8rem;
    left: 15rem; */
   
/* } */

.main-container {

    border: 1px solid var(--secondary-hover);
    /* max-width: 700px; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* left: 28rem; */
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-hover);
    /* text-align: center; */
    width: 80%;
    position: absolute;
    /* top: 9rem; */
    left: -2rem;
    margin: 11rem;
}



.img {

    max-width: 25rem;
    height: auto; 
    /* //max-height: 30rem */
    object-fit: cover;
}

.header-text {

        display: flex;
        flex-direction: column;
        text-align: left;
}

.main-heading {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0rem 0.5rem;
  }

  .small-text {
    color: grey;
    font-weight: bold;
    padding: 0rem 0.5rem;
  }

  .card-border {

    border: 2px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    /* width: 38.5%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* margin-left: 15rem; */
    border-radius: 0.5rem;
    
  }


