@import url(/CSS/index.css);
@import url(/CSS/aside.css);
@import url(/text-utilities/text-utils.css);
@import url(/toast/toast.css);
@import url(/grids/grids.css);

.slider-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  background-color: var(--slider-background);
  border-radius: 0.3rem;
}

.slider-input {
  width: 70%;
  color: var(--primary-color);
}
