@import url(/CSS/nav.css);
@import url(/CSS/layout.css);

:root {

    --failed-text: red;
    --succes-text: green; 
}


.main-container {

    display: flex;
    flex-direction: column;
    max-width: 83%;
    margin-top: 2rem;
    position: relative;
    padding-left: 7rem;
}

.h3 {

    margin-bottom: 0.5rem;
    font-size: 1.8rem;

}


.typo-heading {
    margin-top: 1.3rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.hr {

    width: 100%;
    margin: 0.5rem 0rem;
}

.typo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0 15px 5px rgb(218, 218, 218);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.heading {

    margin: 0.8rem 0rem;
}

.typo-frames {

    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.extra-large {

    font-size: x-large;
    font-weight: bold;
}

.large {

    font-size: large;
    font-weight: bold;
}

.medium {

    font-size: medium;
    font-weight: bold;


}

.small {

    font-size: small;
    font-weight: bold;


}

.extra-small {

    font-size: x-small;
    font-weight: bold;
}

.primary-text {

    color: var(--primary-color);
    font-weight: bold;
}

.secondary-text {

    color: var(--secondary-color);
    font-weight: bold;
}

.failed-text {

    color: var(--failed-text);
    font-weight: bold;
}

.success-text {

    color: var(--succes-text);
    font-weight: bold;
}



